:root {
    --primary-color: #3d5a80;
    --secondary-color: #98c1d9;
    --background-color: #e0fbfc;
    --font-color: #293241;
    --light-font-color: #e0fbfc;
    --btn-color: #3d5a80;
}

* {
    margin: 0;
    padding: 0;
    font-size: 20pt;
    box-sizing: border-box;
    color: var(--font-color);
}

.container {
    position: fixed;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
}

.student {
    background-color: var(--primary-color);
    border-radius: 20px;
    width: 80vw;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.student__name {
    text-align: center;
    padding: 20px;
    color: var(--light-font-color);
}

.student__questions {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.student__card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 700px;
    height: 200px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--secondary-color);
}

.card__answers {
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: var(--btn-color);
    border-radius: 10px;
    color: var(--light-font-color);
}

input {
    margin-left: 15px;
    width: 20px;
    height: 20px;
}